{% extends 'base.html' %}

{% load static %}

{% block title %}About me{% endblock %}

{% block body %}

    <p class="text-center">Уровень владения английским Upper Intermediate.</p>
    <p class="text-center">   Я начинающий программист. Основным языком изучения программирования выбрал Python. Данный проект носит исключительно познавательный (впоследствии "научный", если можно так сказать) характер. Здесь, сейчас и впоследствии выкладываются результаты изучения новых знаний. Tакже этот сайт носит ознакомительный характер для потенциальных работодателей</p>
    <p class="text-center">В 2011 году окончил Московскую Государственную Юридическую Академию. Специальсноть юриспруденция. Специализация предпринимательское право. Имею опыт работы по специальность более 10 лет.</p>
    <p class="text-center">2001-2003 учился в Ташкенстком Государственном Техническом Университете имени по специальности информатика и информационные технологии</p>

{% endblock %}