{% extends 'jQuery_base.html' %}

{% load static %}

{% block title %}Theory lists{% endblock %}

{% block body %}
  
  {% for item in graph %}
    <span  class="termin " id="termin_{{ forloop.counter }}">
      {{ item.termin }}, 
    </span>
  {% endfor %}
 
  {% for item in graph %}
    <div  class="tooltip" id="tooltip_{{ forloop.counter }}">
      {{ item.definition }}, {{ forloop.counter }} 
    </div>
  {% endfor %}

{% endblock %}
 
{% block bottom %}
  <script type="text/javascript" src="{% static 'theory_style.js' %}">
    
  </script>
{% endblock %}
