body {
	background-color: #62639B;
}

a {
  color: #65AA03;
}

.text_code {
  background: #a192b5;
  padding: 10px; /* Поля вокруг блока */
  border: 1px solid; /* Рамка */
  margin: 10px;  /* Отступы вокруг */
}

.name_code {
  padding-left: 20px; /* Поля вокруг блока */
}

.decsription_code{
  padding-left: 20px; /* Поля вокруг блока */
}